<script type="text/javascript" src="../script.js"></script>
<p style="font-size:15px;"> Hier ist ein Demo Version im Zweck von Master Thesis </p>
Thema: Entwicklung einer Umfrage Website wie <a href="https://doodle.com/dashboard">doodle.com</a>
<p> Student : TrungHieu Tran </p>
<p> Betreuer : Prof. Dr. Ingo Chmielewski </p>
</body>
</html>